{% extends "base.html" %}

{% load static %}

{% block body %}

<div class="profile-background d-flex justify-content-around align-items-center">
    <div class="profile-content d-flex flex-column align-items-center">
        <h3 class="mt-4" style="color: #00ffff;">{{request.user.first_name}} {{request.user.last_name}}</h3>
        {% if profile.profileImg %}
        <img src="{{ profile.profileImg.url }}" alt="Profile Image" class="img-fluid img-thumbnail mt-4 mb-2"
            style="width: 300px; height:200px; border-radius: 5px;
            background-color: #000516;
            border: 2px solid #00ffff;
            color: #00ffff;">
        {% else %}
        <img src="" alt="Profile Image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 500px; height:500px">
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex justify-content-center align-items-center">
                <input class="profile-img-save" name="image" type="file"
                    style="display: none; width:40%;
                    color: #00ffff; background: transparent;">
                <button class="profile-img-save" id="img-save" style="display: none; border-radius: 5px;
                background-color: #000516;
                border: 2px solid #00ffff;
                color: #00ffff;" name="profile-img-btn"
                    type="submit" class="btn btn-success">Save</button>
            </div>
        </form>

        <button type="button" style="border-radius: 5px;
        background-color: #000516;
        border: 2px solid #00ffff;
        color: #00ffff;" class="btn mt-2 mb-4" style="width: 20%;" data-mdb-ripple-color="dark"
            id="profil-btn" onclick="aktiflestir()">
            Edit Profile
        </button>

        <form class="p-4 mb-3" method="POST"
            style="background-color:#000516ad; border: 2px solid #00ffff; border-radius: 30px;">
            {% csrf_token %}
            <div class="row justify-content-between">
                <div class="col-6 d-flex justify-content-between">
                    <label style="color: #00ffff; font-size:20px" class="me-4" for="firstName">Name</label>
                    <input style="border-radius: 5px;
                    background-color: #000516;
                    border: 2px solid #00ffff;
                    color: #00ffff;" class="edit-profil" type="text" name="firstName" id="firstName" disabled
                        value="{{request.user.first_name}}">
                </div>
                <div class="col-6">
                    <label style="color: #00ffff; font-size:20px" for="lastName">Surname</label>
                    <input style="border-radius: 5px;
                    background-color: #000516;
                    border: 2px solid #00ffff;
                    color: #00ffff;" class="edit-profil" type="text" name="lastName" id="lastName" disabled
                        value="{{request.user.last_name}}">
                </div>
                <div class="col-6 mt-4 d-flex justify-content-between">
                    <label style="color: #00ffff; font-size:20px" for="username">Username</label>
                    <input style="border-radius: 5px;
                    background-color: #000516;
                    border: 2px solid #00ffff;
                    color: #00ffff;" class="edit-profil" type="text" name="username" id="username" disabled
                        value="{{request.user.username}}">
                </div>
                <div class="col-6 mt-4 d-flex">
                    <label style="color: #00ffff; font-size:20px" for="email">E-mail</label>
                    <input style="border-radius: 5px;
                    background-color: #000516;
                    border: 2px solid #00ffff;
                    color: #00ffff;" class="edit-profil ms-4" type="email" name="email" id="emaill" disabled
                        value="{{request.user.email}}">
                </div>
                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="save btn btn-dark mt-4 me-3" name="save" style="display: none; border-radius: 5px;
                    background-color: #000516;
                    border: 2px solid #00ffff;
                    color: #00ffff;">Save</button>
                </div>
            </div>
        </form>
    </div>
    
    <div class="favourites-content d-flex flex-column align-items-center">
        <h3 class="mt-4" style="color: #00ffff;"><u>Favourites</u></h3>
        {% for game in liked_games %}
        <div class="row" style="width:90%">
            <div class="col-3 d-flex justify-content-center align-items-center">
                <img src="{{ game.editionImage.url }}" alt="Profile Image" class="img-fluid img-thumbnail mt-4 mb-2"
            style="width: 150px; height:150px; border-radius: 5px;
            background-color: #000516;
            border: 2px solid #00ffff;
            color: #00ffff;">
            </div>
            <div class="col-6 d-flex flex-column justify-content-center align-items-center">
                <h4 class="text-center" style="color: #00ffff;">{{game.platform}} {{game.title}} {{game.edition}}</h4>
                <h5 style="color: #00ffff;">${{game.price}}</h5>
                <a href="/detail/{{game.id}}/" class="btn profile-detail mt-2">Go Detail</a>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center">
                <form class="text-center w-100" action="{% url 'like' game.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn" style="color: #00ffff; font-size:20px;">
                        Remove Favourites
                        <i class="fa-solid fa-star fa-2xl" style="margin-top: 2rem;"></i>
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}