{% extends "base.html" %}

{% load static %}

{% block body %}

<div class="xbox-background d-flex justify-content-center flex-column align-items-center">
    <div data-aos="fade-up">
        <div class="header">
            <img src="{% static 'img/xbox-bg/background.jpg' %}" width="100%" height="100%">
        </div>
    </div>

    <div class="xbox-filter d-flex justify-content-around align-items-center mt-5 mb-5">
        <button id="lowXbox" class="btn btn-danger">Low Price$</button>
        <button id="highXbox" class="btn btn-danger">High Price$</button>
        <input id="xbox_search" class="text-center" type="text" placeholder="search">
    </div>

    <div class="xbox-content p-3">
        <div id="xbox" class="xbox-row p-5 row">
            {% for game in xbox %}
            <div class="mt-5 mb-5 col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="pc-game d-flex flex-column align-items-center">
                    <div class="p-4 d-flex flex-column align-items-center">
                        <img src="{{game.editionImage.url}}" alt="Edition Image" width="100%" height="400px">
                        <h1 class="text-center mt-2">{{game.title}}</h1>
                        <h2 class="text-center price mt-2"></h2>
                        <a href="/detail/{{game.id}}/" class="btn btn-light mt-2">Go Detail</a>
                        <button id="" class="add-basket mt-2">Add Basket</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock body %}