{% extends "base.html" %}

{% load static %}

{% block body %}

<div class="xbox-background d-flex justify-content-center flex-column align-items-center">
    <div data-aos="fade-up">
        <div class="header">
            <img src="{% static 'img/xbox-bg/background.jpg' %}" width="100%" height="100%">
        </div>
    </div>

    <div class="xbox-filter d-flex justify-content-around align-items-center mt-5 mb-5">
        <<form style="width: 60%;" method="GET" class="d-flex justify-content-around align-items-center">
            <button style="width:30%;" id="lowXbox" class="btn btn-danger" type="submit" name="order_by" value="low">$Lowest Price</button>
            <button style="width:30%;" id="highXbox" class="btn btn-danger" type="submit" name="order_by" value="high">$Highest Price</button>
        </form>
        <form style="width: 40%;" role="search" method="GET" class="d-flex justify-content-around align-items-center">
            <input style="width:80%; border-radius: 5px;" id="xbox_search" name="searchInput" class="text-center" type="search" placeholder="search">
        </form>
    </div>

    <div class="xbox-content p-3">
        <div id="xbox" class="xbox-row p-5 row">
            {% for game in xbox %}
            <div class="mt-5 mb-5 col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="pc-game d-flex flex-column align-items-center">
                    <div class="p-4 d-flex flex-column align-items-center">
                        <img src="{{game.editionImage.url}}" alt="Edition Image" width="100%" height="400px">
                        <h1 class="text-center mt-2">{{game.title}}</h1>
                        <form class="text-center w-100" action="{% url 'like' game.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn" style="color: #00ffff; font-size:20px;">
                                {% if game.likes_count %}
                                Remove Favourites
                                <i class="fa-solid fa-star fa-2xl"></i>
                                {% else %}
                                Add Favourites
                                <i class="fa-regular fa-star fa-2xl"></i>
                                {% endif %}
                            </button>
                        </form>
                        <h2 class="text-center price mt-2">${{game.price}}</h2>
                        <a href="/detail/{{game.id}}/" class="btn mt-2">Go Detail</a>
                        <form class="d-flex justify-content-center" method="POST" action="{% url 'basket' game.id %}">
                            {% csrf_token %}
                            <button id="add-basket" class="add-basket mt-2" name="add-basket">Add Basket</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock body %}