<div class="nav">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Can's City</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Games
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/pc/">Pc</a></li>
                            <li><a class="dropdown-item" href="/ps5/">Playstation 5</a></li>
                            <li><a class="dropdown-item" href="/xbox/">Xbox</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/community/">Community</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact Us</a>
                    </li>
                </ul>
            </div>

            <div class="profile">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile.html">Profile</a>
                    </li>
                </ul>
            </div>

            <div class="basket me-2">
                <button onclick="basketClick()" id="basket" class="btn"><i class="fa-solid fa-basket-shopping fa-2xl"
                        style="color: #00ffff;"></i>
                </button>
                <div id="basket" class="basket-content">
                    {% for game in basketGame %}
                    {% if game.basket_amount %}
                    <div class="basket-game m-auto mt-3 p-2 row">
                        <div class="basket-left col-xxl-4 col-xl-4" style="background-image: url({{game.editionImage.url}});
                            background-position: top;
                            background-size: cover;
                            border-radius: 15px;
                            border: 2px solid black;">
                        </div>
                        <div class="basket-right d-flex flex-column justify-content-center align-items-center col-8">
                            <h3>{{game.title}}</h3>
                            <h4>{{game.edition}}</h4>
                            <h4>${{game.price}} - {{game.basket_amount}}</h4>
                            <form method="POST" action="{% url 'basket' game.id %}">
                                {% csrf_token %}
                                <button id="remove-basket" class="btn btn-danger remove-basket mt-2"
                                    name="remove-basket">Remove Basket</button>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="order-button"><a href="/completeOrder/" class="btn order btn-success mt-2">Complete Order</a></div>
                </div>
            </div>

            <div class="user-login">
                {% if request.user.is_authenticated %}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{request.user}}
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/profile/">Profile</a></li>
                                <li><a class="dropdown-item" href="/logout/">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% else %}
                <button onclick="userClick()" id="user" class="btn"><i class="fa-solid fa-user fa-2xl"
                        style="color: #00ffff;"></i>
                </button>
                <div class="user-content">
                    <div class="user-login-content d-flex justify-content-center">
                        <div class="form-buttons d-flex justify-content-center">
                            <a href="/login/"
                                class="mt-2 me-2 mb-2 d-flex justify-content-center align-items-center">Login</a>
                            <a href="/register/"
                                class="mt-2 ms-2 mb-2 d-flex justify-content-center align-items-center">Register</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

</div>
</nav>
</div>